@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body
{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
span
{
    color: orange;
}

.top-banner
{
    display: flex;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.half-width

{
    padding-left: 10%;
    width:50%;
}
.half-width img
{
    width:80%;
}
.link-button
{
    display: inline-block;
    padding: 10px 40px;
    margin-top: 10px;
    text-decoration: none;
    background:linear-gradient(orange,tomato);
    border-radius: 5px;
    color:white;
    font-weight:700;
}
.Dream-big
{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: top right;
}
.experience
{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    margin-bottom: 100px;
    
}
.flexible-container
{
    display: flex;
}
.experience-header
{
    padding-left: 10%;
}
.experience-div
{
    width:30%;
    margin-left: 120px;
    margin-right: 200px;
    padding: 20px;
    box-shadow:  5px 10px 8px 10px #888888;
}
.baby-div
{
    width:30%;
    border: 2px solid black;
    padding: 20px;
    box-shadow:  5px 10px 8px 10px #888888;
}